<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<div class="post-type">{{ .Params.post_type }}</div>
					<div class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
					<time>{{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>  <!-- Don't change date format -->
					{{- range $index, $author := .Params.authors -}}
						<img src="{{ ($.Site.Params.Authors.Get $author).pic }}" class="author-list-photo" height=20em>{{ ($.Site.Params.Authors.Get $author).name }}</img>
					{{- end -}}
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
