{{ define "main" }}
<main>
  <div>
    <h1 style="padding-bottom: 15px">{{ .Title }}</h1>
  </div>

  {{ range $index, $person := .Params.people }}
  {{- if eq (mod $index 4) 0 -}}
  <div style="display: flex; flex-direction: row; justify-content: center">
  {{ end }}
    <div class="people-box">
      <div class="people-box-image">
        {{- if ($.Site.Params.Authors.Get $person).pic -}}
        {{ if in ($.Site.Params.Authors.Get $person).pic "/"}}
        <img
          class="people-page-photo"
          src="{{ ($.Site.Params.Authors.Get $person).pic }}"
        />
        {{- else -}}
        <img class="people-page-photo"
          src="/images/people/{{ ($.Site.Params.Authors.Get $person).pic }}"
        />
        {{ end }}
        {{- else -}}
        <img class="people-page-photo"
          src="/images/people/default-photo.png"
        />
        {{ end }}
        <div class="people-box-overlay">
          <div class="people-box-text">{{ ($.Site.Params.Authors.Get $person).interests }}</div>
        </div>
      </div>
      <p style="margin-top: 0.3em; margin-bottom: 0.3em;">
        <a href="{{ ($.Site.Params.Authors.Get $person).link }}">
          {{ ($.Site.Params.Authors.Get $person).name }}
        </a>
        <br>
        <span style="font-size: 0.85em;">{{ ($.Site.Params.Authors.Get $person).title }}</span>
      </p>
      <div style="display: flex; flex-direction: row; justify-content: center">
        {{- if ($.Site.Params.Authors.Get $person).link -}}
        <a href="{{ ($.Site.Params.Authors.Get $person).link }}">
          <i data-feather="globe"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).github -}}
        <a href="http://github.com/{{ ($.Site.Params.Authors.Get $person).github }}">
          <i data-feather="github"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).scholar -}}
        <a href="{{ ($.Site.Params.Authors.Get $person).scholar }}">
          <i data-feather="book-open"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).twitter -}}
        <a href="http://twitter.com/{{ ($.Site.Params.Authors.Get $person).twitter }}">
          <i data-feather="twitter"></i>
        </a>
        {{ end }}
      </div>
    </div>
  {{- if or (eq (mod $index 4) 3) (eq $index (sub (int (len $.Params.people)) 1)) -}}
  </div>
  {{ end }}
  {{ end }}

  <div>
    <h1 style="padding-bottom: 15px">Alumni</h1>
  </div>

  {{ range $index, $person := .Params.alumni }}
  {{- if eq (mod $index 4) 0 -}}
  <div style="display: flex; flex-direction: row;">
  {{ end }}
    <div class="people-box">
      <div class="people-box-image">
        {{- if ($.Site.Params.Authors.Get $person).pic -}}
        {{ if in ($.Site.Params.Authors.Get $person).pic "/"}}
        <img
          class="people-page-photo"
          src="{{ ($.Site.Params.Authors.Get $person).pic }}"
        />
        {{- else -}}
        <img
          class="people-page-photo"
          src="/images/people/{{ ($.Site.Params.Authors.Get $person).pic }}"
        />
        {{ end }}
        {{- else -}}
        <defaultphoto>😊</defaultphoto>
        {{ end }}
        <div class="people-box-overlay">
          <div class="people-box-text">{{ ($.Site.Params.Authors.Get $person).interests }}</div>
        </div>
      </div>
      <p style="margin-top: 0.3em; margin-bottom: 0.3em;">
        <a href="{{ ($.Site.Params.Authors.Get $person).link }}">
          {{ ($.Site.Params.Authors.Get $person).name }}
        </a>
        <br>
        <span style="font-size: 0.85em;">{{ ($.Site.Params.Authors.Get $person).title }}</span>
      </p>
      <div style="display: flex; flex-direction: row; justify-content: center">
        {{- if ($.Site.Params.Authors.Get $person).link -}}
        <a href="{{ ($.Site.Params.Authors.Get $person).link }}">
          <i data-feather="globe"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).github -}}
        <a href="http://github.com/{{ ($.Site.Params.Authors.Get $person).github }}">
          <i data-feather="github"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).scholar -}}
        <a href="{{ ($.Site.Params.Authors.Get $person).scholar }}">
          <i data-feather="book-open"></i>
        </a>
        {{ end }}
        {{- if ($.Site.Params.Authors.Get $person).twitter -}}
        <a href="http://twitter.com/{{ ($.Site.Params.Authors.Get $person).twitter }}">
          <i data-feather="twitter"></i>
        </a>
        {{ end }}
      </div>
    </div>
  {{- if or (eq (mod $index 4) 3) (eq $index (sub (int (len $.Params.people)) 1)) -}}
  </div>
  {{ end }}
  {{ end }}
</main>
{{ end }}
