<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<main class="list">
				{{ $emojiMap := dict "blog" "✏️" "publication" "✒️" }}
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ range $pages }}
				<section class="list-item">
					<div class="post-type">
						{{ if .Params.header_emoji }}
							{{ .Params.header_emoji }}
						{{ else }}
							{{ index $emojiMap .Params.post_type }}
						{{ end }}
						{{ .Params.post_type }}
					</div>
					<div class="title">
						{{- if .Params.direct_link -}}
						<a href="{{ .Params.direct_link }}">{{.Title}} <span class="direct-link-symbol">&#x21F1;</span></a>
						{{ else }}
						<a href="{{ .RelPermalink }}">{{.Title}}</a>
						{{ end }}
					</div>
					<time>{{ dateFormat "2006-01-02" .Date }} <!-- Don't change date format -->
						{{- if .Params.authors -}}&bull;&nbsp;{{ end }}
					</time>
						{{- range $index, $author := .Params.authors -}}
							<span class="author-list-badge">
							<a href="{{ ($.Site.Params.Authors.Get $author).link }}">
							{{- if ($.Site.Params.Authors.Get $author).pic -}}
								<img src="/images/people/{{ ($.Site.Params.Authors.Get $author).pic }}" class="author-list-photo"></img>
							{{- else -}}
							<defaultphoto style="font-size: 0.94em">😊</defaultphoto> <!-- default photo -->
							{{ end }}
							<span class="author-list-name" margin="0" padding="0">{{ ($.Site.Params.Authors.Get $author).name }}</span></a>
							</span>
							&nbsp;
						{{- end -}}
				</section>
				{{ end }}
			</main>
			<!-- {{ partial "footer.html" . }} -->
		</div>
	</body>
</html>
