<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (and (where $pages "Params.hidden" "ne" true) (where $pages "Params.post_type" "eq" "publication")) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<div class="post-type">{{ .Params.post_type }}</div>
					<div class="title">
						{{- if .Params.direct_link -}}
						<a href="{{ .Params.direct_link }}">{{.Title}}</a>
						{{ else }}
						<a href="{{ .RelPermalink }}">{{.Title}}</a>
						{{ end }}
					</div>
					<time>{{ dateFormat "2006-01-02" .Date }} <!-- Don't change date format -->
						{{- if .Params.authors -}}&bull;&nbsp;{{ end }}
					</time>
					{{- range $index, $author := .Params.authors -}}
					<span class="author-list-badge">
						<a href="{{ ($.Site.Params.Authors.Get $author).link }}">
							{{- if ($.Site.Params.Authors.Get $author).pic -}}
							<img src="/images/people/{{ ($.Site.Params.Authors.Get $author).pic }}" class="author-list-photo"></img>
							{{- else -}}
							<defaultphoto style="font-size: 0.94em">😊</defaultphoto> <!-- default photo -->
							{{ end }}
							<span class="author-list-name" margin="0" padding="0">{{ ($.Site.Params.Authors.Get $author).name }}</span>
						</a>
					</span>
					&nbsp;
					{{- end -}}
					<div style="margin-top: 0.2em;">
						<em>{{ .Params.venue }}</em>
					</div>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
