{{ define "main" }}
{{ $data := .Data }}
<main>
	<article class="content-box">
		<div>
			<h1 style="margin-top:0.5em" class="title" >{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}</div>
			<div style="padding-top:10px">
				{{- range $index, $author := .Params.authors -}}
					<span class="author-list-badge">
					<a href="{{ ($.Site.Params.Authors.Get $author).link }}">
					{{- if ($.Site.Params.Authors.Get $author).pic -}}
						<img src="/images/people/{{ ($.Site.Params.Authors.Get $author).pic }}" class="author-list-photo"></img>
					{{- else -}}
					<defaultphoto style="font-size: 0.94em">😊</defaultphoto> <!-- default photo -->
					{{ end }}
					<span class="author-list-name" margin="0" padding="0">{{ ($.Site.Params.Authors.Get $author).name }}</span></a>
					</span>
					&nbsp;
				{{- end -}}
			</div>
			{{- if eq .Params.post_type "publication" -}}
			<div style="padding-top:10px;">
				{{- if .Params.code -}}
				<span class="supp-tag">
					<a href="{{ .Params.code }}">GitHub</a>
				</span>
				{{ end }}
				{{- if .Params.link -}}
				<span class="supp-tag">
					<a href="{{ .Params.link }}">Paper</a>
				</span>
				{{ end }}
				{{- if .Params.site -}}
				<span class="supp-tag">
					<a href="{{ .Params.site }}">Site</a>
				</span>
				{{- end -}}
			</div>
			{{- end -}}
			{{- if .Params.tags -}}
			<div style="padding-top:10px;">
				{{ range $index, $tag := .Params.tags }}
				<span class="post-tag">
					<a href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/tags/{{ $tag | urlize }}/">
						{{ $tag }}
					</a>
				</span>
				{{ end }}
			</div>
			{{ end }}
		</div>
		<hr class="post-separator"/>
		<section class="body post-content">
			{{ .Content }}
		</section>
	</article>
	<!-- MathJax -->
	<script
		type="text/javascript"
		async
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
	>
	</script>
</main>
{{ end }}
