{{ define "main" }}
<main>
	<article>
		<div>
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}</div>
			{{- if eq .Params.post_type "publication" -}}
			<div style="padding-top:10px;">
				{{- if .Params.code -}}
				<a href="{{ .Params.code }}"><i data-feather="code"></i></a>
				{{ end }}
				{{- if .Params.link -}}
				<a href="{{ .Params.link }}"><i data-feather="paperclip"></i></a>
				{{ end }}
				{{- if .Params.site -}}
				<a href="{{ .Params.site }}"><i data-feather="globe"></i></a>
				{{ end }}
			</div>
			{{ end }}
		</div>

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
