{{ define "main" }}
{{ if isset .Data "Term" }}
<div class="tag-box">
	<div style="padding: 0 1em">
	<p>Tags:</p>
	{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
	{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
		<a class="post-tag" href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}} ({{$cnt}})</a>
		{{end}}
	{{end}}
	</div>
</div>
<h1>Posts tagged <i>{{ .Data.Term }}</i></h1>
{{ else }}
<h1 class="page-title">All articles</h1>
{{ end }}

<main class="list">
	{{ $emojiMap := dict "blog" "✏️" "publication" "✒️" }}
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<!-- Hacky way to de-duplicate cross-posted publications -->
		{{- if (not (in .RelPermalink "posts/publications" )) -}}
		<section class="list-item">
			<div class="post-type">
				{{ if .Params.header_emoji }}
					{{ .Params.header_emoji }}
				{{ else }}
					{{ index $emojiMap .Params.post_type }}
				{{ end }}
				{{ .Params.post_type }}
			</div>
			<div class="title">
				<a class="hidden-link" href="{{ .RelPermalink }}">{{.Title}}</a>
			</div>
			<time>{{ dateFormat "2006-01-02" .Date }} <!-- Don't change date format -->
				{{- if .Params.authors -}}&bull;&nbsp;{{ end }}
			</time>
				{{- range $index, $author := .Params.authors -}}
					<span class="author-list-span">
						<a class="hidden-link" href="{{ ($.Site.Params.Authors.Get $author).link }}">
						{{- if ($.Site.Params.Authors.Get $author).pic -}}
							{{- if in ($.Site.Params.Authors.Get $author).pic "http" -}}
							<img class="author-list-photo"
								src="{{ ($.Site.Params.Authors.Get $author).pic }}"
							/>
							{{- else -}}
							<img class="author-list-photo"
								src="/images/people/{{ ($.Site.Params.Authors.Get $author).pic }}"
							/>
							{{- end -}}
						{{- else -}}
						<defaultphoto style="font-size: 0.94em">😊</defaultphoto> <!-- default photo -->
						{{ end }}
						<span margin="0" padding="0">{{ ($.Site.Params.Authors.Get $author).name }}</span></a>
					</span>
					&nbsp;
				{{- end -}}
		</section>
		{{- end -}}
		{{- end -}}
	{{- end -}}
</main>
{{ end }}
