/* Markdown */
:root{
--maincolor: #FFA45E;
--bordercl: #FFA45E;
--callouctcolor:dodgerblue;
--hovercolor:#FFA45E;
/* --linkcolor:#132964; */
--linkcolor:#b04a02;
--dark-linkcolor:#FFE8D7;
--darkMaincolor: #FFA45E;

--dark-background-color: #101729;
--dark-text-color: #F6FAFF;

--light-background-color: #F6FAFF;
--light-text-color: #101729;

--title-size: 30px;
--post-type-size: 24px;
--border-thickness: 2px;
--date-color: var(--maincolor);
}

html {
  color: var(--light-text-color);
  font-family: 'basic-sans', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
}
body {
  background-color: var(--light-background-color);
  display: block;
  margin: 8px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.post-content {
  padding: 0px 1.5em;
  line-height: 1.55;
  text-align: justify;
}
.post-separator {
  border: var(--border-thickness) solid var(--light-text-color);
}

::selection {
  background: var(--maincolor);
  color: #fff;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  border: 0;
  border-top: 3px dotted var(--bordercl);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

.hidden-link {
  text-decoration: none;
  color: var(--light-text-color);
}

a {
  color: var(--linkcolor);
  text-decoration: none;
}
a:hover {
    /* background-color: var(--hovercolor); */
    /* color: #fff; */
    background-color: var(--hovercolor);
}

#dark-mode-toggle:hover {
  background-color: var(--light-background-color);
}

/* ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: 600;
} */

/* Tag */
.post-tag {
  border-radius: 5px;
  background-color: var(--light-text-color);
  color: var(--light-background-color);
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0.2em;
  margin-right: 0.1em;
  padding: 1px 5px;
}

.post-tag:hover {
  background-color: var(--linkcolor);
}

.supp-tag {
  border-radius: 5px;
  border: 1px solid var(--light-text-color);
  font-size: 18px;
  margin-right: 0.5em;
}

.supp-tag {
  padding: 0em 1em;
}

.supp-tag:hover {
  border: 1px solid var(--hovercolor);
  background-color: transparent;
  color: var(--hovercolor);
}

.supp-tag:hover a {
  background-color: transparent;
  color: var(--linkcolor);
}

/* Images */
img {
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre {
  background-color: #ececec;
  line-height: 1;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 1ch;
  word-wrap: break-word;
}

.content-box {
  border: solid var(--border-thickness);
  padding: 0.2em 1em;
}

.post-header {
  border: solid var(--border-thickness);
  padding: 0.5em 1em 1em 1em;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em 1em 0.7em 1em;
  border: var(--border-thickness) solid;
}

header .main {
  font-size: 1.5rem;
}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

/* Footer */
footer {
  align-items: center;
  background-color: var(--light-background-color);
}

.soc {
  display: flex;
  align-items: center;
  border-bottom: none;
  padding-top: 5px;
}

.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}

/* Common */
.title {
  margin-top: 0.15em;
  margin-bottom: 0.2em;
  font-size: var(--title-size);
}

.people-box {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 25%;
  margin: 5px;
  margin-bottom: 25px;
  border: solid var(--border-thickness);
  padding: 0.3em;
}

.people-box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1 ease;
  background-color: var(--light-text-color);
}

.people-box-image {
  position: relative;
}

.people-box-image:hover .people-box-overlay {
  opacity: 1;
}

.people-box-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.pagination {
  text-align: inherit;
}

.people-page-photo {
  border: none;
  display: block;
  width: 100%;
  height: auto;
}

.author-list-span {
  white-space: nowrap;
  margin-bottom: 10px;
}

.author-list-photo {
  height: 1em;
  width: auto;
  justify-content: center;
  border: none;
  border-radius: 1em;
  vertical-align: middle;
}

.list-item {
  margin-bottom: 1em;
  padding: 1em;
  border: var(--border-thickness) solid;
}

.post-type {
  font-size: var(--post-type-size);
}

time {
  color: var(--date-color);
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'basic-sans', monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.tag-box {
  padding: 0 0 1em 0;
  border: var(--border-thickness) solid;
}

.tags li::before{
  content: "🏷 ";
}
.tags li {
  padding-bottom: 15px;
}
.tags a{
  border-bottom: 3px solid var(--maincolor);
}
.tags a:hover{
  color:white;
  background-color: var(--hovercolor); 
}
svg{
  max-height: 15px;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

/* table - NOT USED FOR NOW */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.direct-link-symbol {
  vertical-align:text-top;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  display: inline-block;
  font-size: 90%;
}
