{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<!-- <ol id="author-page-container">
			{{ range $index, $person := .Params.people }}
				<li class="author-page-badge">
					<a href="{{ ($.Site.Params.Authors.Get $person).link }}">
					<div>
							{{- if ($.Site.Params.Authors.Get $person).pic -}}
								<img src="{{ ($.Site.Params.Authors.Get $person).pic }}" class="author-page-photo"></img>
							{{- else -}}
							<defaultphoto class="author-page-photo">😊</defaultphoto>
							{{ end }}
					</div>
					<div>
						<span class="author-page-name">{{ ($.Site.Params.Authors.Get $person).name }}</span>
					</div>
					</a>
				</li>
			{{ end }}
		</ol> -->

		<ol id="author-page-container">
			{{ range $index, $person := .Params.people }}
				<li class="author-page-badge">
					<a href="{{ ($.Site.Params.Authors.Get $person).link }}">
					<div>
							{{- if ($.Site.Params.Authors.Get $person).pic -}}
								<img src="{{ ($.Site.Params.Authors.Get $person).pic }}" class="author-page-photo"></img>
							{{- else -}}
							<defaultphoto class="author-page-photo">😊</defaultphoto> <!-- default photo -->
							{{ end }}
					</div>
					<div>
						<span class="author-page-name">{{ ($.Site.Params.Authors.Get $person).name }}</span>
					</div>
					</a>
				</li>
			{{ end }}
		</ol>

	</article>
</main>
{{ end }}
