{{ define "main" }}
<main>
  <article>
    <div class="title">
      <h1 class="title">{{ .Title }}</h1>
    </div>
    {{ if isset .Params "tldr" }}
    <div class="tldr">
      <strong>tl;dr:</strong>
      {{ .Params.tldr }}
    </div>
    {{ end }}

    {{ range $index, $person := .Params.people }}
      {{- if eq (mod $index 4) 0 -}}
      <div style="display:flex;flex-direction:row">
      {{ end }}
        <div style="
            display: inline-block;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 25%;"
        >
          {{- if ($.Site.Params.Authors.Get $person).pic -}}
          <img 
            style="border:none;height:60%;object-fit:cover;"
            src="/images/{{ ($.Site.Params.Authors.Get $person).pic }}"
          />
          {{- else -}}
          <defaultphoto>😊</defaultphoto>
          {{ end }}
          <p>{{ ($.Site.Params.Authors.Get $person).name }}</p>
          <div style="display:flex;flex-direction:row;justify-content:center;">
            {{- if ($.Site.Params.Authors.Get $person).link -}}
            <a href="{{ ($.Site.Params.Authors.Get $person).link }}"
              ><i data-feather="globe"></i>
            </a>
            {{ end }}
            {{- if ($.Site.Params.Authors.Get $person).github -}}
            <a href="http://github.com/{{ ($.Site.Params.Authors.Get $person).github }}"
              ><i data-feather="github"></i>
            </a>
            {{ end }}
            {{- if ($.Site.Params.Authors.Get $person).scholar -}}
            <a href="{{ ($.Site.Params.Authors.Get $person).scholar }}"
              ><i data-feather="book-open"></i>
            </a>
            {{ end }}
            {{- if ($.Site.Params.Authors.Get $person).twitter -}}
            <a href="http://twitter.com/{{ ($.Site.Params.Authors.Get $person).github }}"
              ><i data-feather="twitter"></i>
            </a>
            {{ end }}
          </div>
        </div>
      {{- if eq (mod $index 4) 3 -}}
      </div>
      {{ end }}
    {{ end }}
  </article>
</main>
{{ end }}
